html 
    include partials/head
    body 
        h1= showdata.title 

        h2  Devloped By 
        ul 
            for developer in showdata.developedBy 
                li= developer
        h3 Starring
        ul 
            for star in showdata.starring
                li= star 

        h2 Seasons
        ul 
        for season in showdata.seasons 
            li 
                a(href=`/season/${season.number}`)= `Season ${season.number}`